.git
.venv
__pycache__
*.py[cod]
.ipynb_checkpoints
.pytest_cache
.DS_Store
.env
.env.*
data
notebooks
models/*
results
mlruns
mlartifacts
*.db
*.db-shm
*.db-wal
*.pt
!models/final_model.pt
*.pth
*.safetensors
